{% extends 'base.html.twig' %}
{% block title %}LISTE ARTICLES{% endblock %}
{% block body %}<h3>Nouveau commentaire:</h3>
{{form_start(commentaireForm)}}
{{form_widget(commentaireForm)}}
<button type="submit" class="btn btn-primary">ajouter</button>
{{form_end(commentaireForm)}}
{% endblock %}